@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Irish Grover", cursive;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

body {
    background: #f3eed9;
}

:root {
    font-size: 1rem;
    --primary: #1e3b4d;
    --secondary: #fff7d6;
    --accent: #00c6b0;
    --accent2: #7b5f6f;
    --gray: #455562;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* margin-top: 10%; */
}

.def {
    padding: 40px;
    color: #455562;
}

.def h4 {
    padding: 40px;
    font-family: "Poppins", sans-serif;
}

.def h4 span {
    color: #eb1724;
    font-family: "Poppins", sans-serif;
}

.row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.col1 {
    width: 35%;
    /* margin: 20px; */
    box-sizing: border-box;
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-top: 30px;
}

.col2 {
    width: 50%;
    min-height: 500px;
    /* margin: 20px; */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.right-area {
    width: 100%;
    background: #ffe4e1;
    border-radius: 10px;
    padding: 0px 40px 00px 40px;
}

.col.col1 form {
    width: 400px;
    padding: 50px;
    border-radius: 10px;
    background: #f5948e;
    margin-bottom: 20px;
}

.col1 .item {
    margin-bottom: 10px;
    width: 100%;
}

.item1 {
    display: flex;
    justify-content: center;
    color: #f72229;
    font-weight: 600;
    font-size: 40px;
}

#yourname,
#crushname {
    height: 40px;
    border-radius: 10px;
    /* border-color: red; */
    border: none;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

#button {
    border-radius: 20px;
    background: #00ae6f;
    border: none;
    transition: 0.4s ease;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    padding: 5px;
    color: #fff7d6;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button:hover {
    background: #0c7468;
}

input:focus {
    outline: none !important;
    border-color: #719ece;
    box-shadow: 0 0 10px #719ece;
}


/*.col2 {
    width: 58.33%;
} */

.flames {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flames>div {
    /* min-width: 80px; */
    /* height: 80px;
    background: #00c6b0;
    text-align: center; */
    background: #f5948e;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: #ddd9d9;
    font-weight: 700;
}

.flames div.active {
    background: #e47549;
}

.result {
    width: 100%;
    color: #393939;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.roll {
    animation: roll 2s infinite;
}

.memes {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.memes img {
    height: 400px;
    width: auto;
    overflow: hidden;
}

@keyframes roll {
    0% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 1200px) {
    .col {
        width: 40%;
        margin: 0;
    }
    .row {
        justify-content: space-around;
    }
}

@media screen and (max-width: 780px) {
    .col {
        width: 90%;
        padding-top: 40px;
        margin: 0;
    }
    .col.col1 form {
        width: 100%;
        padding: 20px;
    }
    .row {
        justify-content: space-around;
    }
}